# dependencies
/node_modules
/.pnp
.pnp.*

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# local environment files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo

# logs
*.log

# OS/editor
.DS_Store
.vscode/
.idea/

fastapi/__pycache__/
fastapi/**/__pycache__/
fastapi/.venv/
*.py[cod]
